ext.environmentVariables = [
    VCAP_SERVICES: """{
      "postgres": [
        {
          "label": "", "name": "", "tags": [],
          "credentials": {
            "uri": "postgres://dam5s@localhost:5432/somanyfeeds_dev"
          }
        }
      ]
    }
    """,
    PORT: "8080",
    TWITTER_CONSUMER_KEY: "<twitter app id>",
    TWITTER_CONSUMER_SECRET: "<twitter app secret>",
    TWITTER_ACCESS_TOKEN: "<twitter access token>",
    TWITTER_ACCESS_TOKEN_SECRET: "<twitter access token secret>",
]
