html, body {
    margin: 0;
    background-color: #f6f6f6;
    font-size: 15px;
    font-family: 'Merriweather', 'Georgia', serif;
    font-weight: 300;
    color: #888;
}

h1, h2, h3 {
    line-height: 130%;
    color: #333;
    font-family: 'Merriweather Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin: .5rem 0;
}

h2 {
    font-size: 1.3rem;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #00BCD4;
}

p {
    margin: 1rem 0;
}

section.content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
}

#app-header {
    background-color: rgba(43, 43, 43, .90);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    box-shadow: 0 2px 1px rgba(0, 0, 0, .3);
    overflow: auto;
}

#app-header section.content {
    position: relative;
}

#app-header svg {
    height: 4rem;
    font-size: 2rem;
    width: 20rem;
    margin: .5rem 0 0 2%;
}

#app-menu {
    margin: 0 1rem 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}

svg {
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.9));
    -moz-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.9));
    -o-filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.9));
}

#app-menu ul {
    height: 100%;
    display: flex;
    align-items: center;
}

#app-menu li a {
    padding: .5rem 1rem;
    margin-left: .3rem;
    border: 1px solid transparent;
    border-radius: 3px;
}

#app-menu li a:last-child {
    margin-right: .3rem;
}

#app-menu li.selected a,
#app-menu li a:hover {
    border-color: rgba(0, 188, 212, 0.3);
}

#app-menu li.selected a {
    background-color: rgba(0, 188, 212, 0.1);
}

#app-content {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;

    margin: 4rem auto 2rem;
    padding: 2rem 1rem;
    font-size: 1rem;
}

.card {
    box-sizing: border-box;

    background-color: #fff;
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);

    padding: 1rem;
    margin-bottom: 1rem;
}

.card nav {
    overflow: auto;
}

.card nav > * {
    margin-left: 1rem;
    float: right;
    padding: .3rem 1rem;
    display: inline-block;
}

.button {
    background-color: #00BCD4;
    color: #fff;
    border-radius: 3px;
    border: none;
    outline: none;
}

.button:active {
    background-color: #0091A9;
}

dt {
    color: #333;
    width: 100rem;
}

dd {
    margin-bottom: 1rem;
}

form input[type=text] {
    padding: .2rem .3rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}
