ext.environmentVariables = [
    VCAP_SERVICES: """{
      "postgres": [
        {
          "label": "", "name": "", "tags": [],
          "credentials": {
            "uri": "postgres://dam5s@localhost:5432/somanyfeeds_dev"
          }
        }
      ]
    }
    """,
    PORT: "8081",
]
